html {

}

//WFP colours
$WFPBlue: 		#2A93FC;
$WFPBlueAccent: #2A93FC;

$WFPBlue-1:		#DFEFFF;
$WFPBlue-2:		#85C1FD;
$WFPBlue-3:		#57AAFD;
$WFPBlue-4:		#037CF5;

$WFPgrey-1: 	#F3F3F3;
$WFPgrey-2: 	#CCCCCC;
$WFPgrey-3: 	#8C8C8C;
$WFPgrey-4: 	#4D4D4D;
$WFPgrey-5: 	#333333;

$WFPred:		#FF5252;
$WFPorange:		#FFC759;
$WFPyellow:		#FCDC5D;
$WFPgreen:		#B3DE62;

$WFPtext: 		#404040;
$WFPbackground: #FFFFFF;

#dashBoard {

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#loadDiv {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
	z-index: 1000;
	opacity: 0.8;
}

#loadText {
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 90%;
	text-align: center;
	top: 40%;
	position: absolute;
}

.region {
	fill: #eeeeee;
	stroke: #333333;
	stroke-width: 0.5;
}

.regionHover {
	fill: #aaaaaa;
	stroke: #333333;
	stroke-width: 0.5;
}

.regionSel {
	fill: steelblue;
	stroke: #333333;
	stroke-width: 0.5;
}

.regionSelHover{
	fill: darkblue;
	stroke: #333333;
	stroke-width: 0.5;
}

.axis {
  font-size: 0.7em;
  font-family: "Arial";
  fill: $WFPtext;
}

.titleLabelText{
	font-size: 14px;
	color: $WFPgrey-2;
}

.popupText {
  font: 10px sans-serif;
}

.popupTitle {
  font: 10px sans-serif;
  font-weight: 500;
}

.popupRect {
	fill: #ffffff;
	stroke: orange;
}

.axis path,
.axis line {
  fill: none;
  stroke: $WFPtext;
  shape-rendering: crispEdges;
}

.horizontalGrid {
	fill : none;
	stroke : $WFPgrey-2;
	stroke-width : 1px;
}

#mapHolder {
	float: left;
}

#FCSgraph {
	float: left;
	font-style: "Arial";
}

.cfLinePath-FCS-0 {
	fill: $WFPgrey-2;
	fill-opacity: 0.5;
}

.cfLinePath-FCS-1 {
	fill: $WFPBlue-1;
	fill-opacity: 0.5;
}

.linePath-FCS-0{
	fill: none;
	stroke: $WFPgrey-4;
}

.linePath-FCS-1{
	fill: none;
	stroke: $WFPBlue;
}

.lineCircle-FCS-0 {
	fill: $WFPgrey-4;
	stroke: $WFPgrey-4;
}

.lineCircle-FCS-1 {
	fill: $WFPBlue;
	stroke: $WFPBlue;
}



.cfLinePath-rCSI-0 {
	fill: $WFPgrey-2;
	fill-opacity: 0.5;
}

.cfLinePath-rCSI-1 {
	fill: $WFPBlue-1;
	fill-opacity: 0.5;
}

.linePath-rCSI-0{
	fill: none;
	stroke: $WFPgrey-4;
}

.linePath-rCSI-1{
	fill: none;
	stroke: $WFPBlue;
}

.lineCircle-rCSI-0 {
	fill: $WFPgrey-4;
	stroke: $WFPgrey-4;
}

.lineCircle-rCSI-1 {
	fill: $WFPBlue;
	stroke: $WFPBlue;
}

.circSelected {
	fill: $WFPorange;
	stroke: $WFPorange;
}


.FCG_0 {
	fill: $WFPbackground;
}
.FCG_1 {
	fill: $WFPred;
}
.FCG_2 {
	fill: $WFPyellow;
}
.FCG_3 {
	fill: $WFPgreen;
}

.box-tools .chart-button { 
	margin-right: 5px; 
}

.btn-primary { 
	background-color: #1F6EBC !important; 
	border-color: #1F6EBC !important; 
}

