html {

}

//WFP colours
$WFPBlue: 		#2A93FC;
$WFPBlueAccent: #2A93FC;

$WFPBlue-1:		#DFEFFF;
$WFPBlue-2:		#85C1FD;
$WFPBlue-3:		#57AAFD;
$WFPBlue-4:		#037CF5;

$WFPgrey-1: 	#F3F3F3;
$WFPgrey-2: 	#CCCCCC;
$WFPgrey-3: 	#8C8C8C;
$WFPgrey-4: 	#4D4D4D;
$WFPgrey-5: 	#333333;

$WFPred:		#FF5252;
$WFPorange:		#FFC759;
$WFPyellow:		#FCDC5D;
$WFPgreen:		#B3DE62;

$WFPtext: 		#404040;
$WFPbackground: #FFFFFF;

#dashBoard {

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#loadDiv {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
	z-index: 1000;
	opacity: 0.8;
}

#loadText {
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 90%;
	text-align: center;
	top: 40%;
	position: absolute;
}

#timeSlider {
	margin-bottom: 20px;
}

.popupText {
  font: 10px sans-serif;
}

.popupTitle {
  font: 10px sans-serif;
  font-weight: 500;
}

.popupRect {
	fill: #ffffff;
	stroke: orange;
}

.circSelected {
	fill: $WFPorange;
	stroke: $WFPorange;
}

.box-tools .chart-button { 
	margin-right: 5px; 
}

.btn-primary { 
	background-color: #1F6EBC !important; 
	border-color: #1F6EBC !important; 
}

// IDP-toggle
#IDPtoggle {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 5px;
}
