html {

}

.region {
	fill: #eeeeee;
	stroke: #333333;
	stroke-width: 0.5;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#mapHolder {
	float: left;
}

#FCSgraph {
	float: left;
}